.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
    padding-inline: 2rem;
    width: 100%;
    padding-bottom: 4rem;
    padding-top: 1rem;
  
    color:  #3c3a3a;
    font-weight: 200;
    border-top: solid 1px #cfc7c7;
}

.legal-links {
    display: flex;
    gap: 1.5rem;
}